@media only screen and (max-width:991px){
    .about-me-text{
        font-size: 15px;
        line-height: 20px;
        margin-right: 10px;
    }
    .form-btn{
        width: 60%;
    }
    .navigation{
        display: none;
    }
}
@media only screen and (max-width:768px){
    .about-me-text{
        font-size: 15px;
        line-height: 18px;
        margin-right: 10px;
    }
    .category-list{
        padding-left:0 !important ;
    }
    .list-items a{
        font-size: 15px;
    }
    .list-items span{
        display: none;
    }
}
@media only screen and (max-width:767px){
    .social-menu{
        display: none;
    }
    .intro-text{
        padding-top: 350px;
        font-size: 30px;
    }
    .about-image{
        width: 350px;
        height: 350px;
        position: relative;
        display: flex;
        margin: 30px auto;
        shape-outside: none;
        clip-path: none;
        float: none;
        box-shadow: 0 30px 30px rgba(0,0,0,0.5);
    }
    .about-me-text{
        line-height: 25px !important;
    }
    .post-info{
        font-size: 12px;
    }
    .category h2{
        font-size: 25px;
    }
    .subscribe h2{
        font-size: 25px;
    }
    .popular-posts h2{
        font-size: 25px;
    }
    .category-list{
        width: 100%;
    }
    .input-element{
        width: 100%;
    }
}
@media only screen and (max-width:450px){
    .about-me-text{
        font-size: 10px;
        line-height: 25px !important;
        padding: 20px;
    }
}